 h1{
    color: rgb(250, 144, 4);
    text-align: center;
    background-color: rgb(247, 187, 187);
    padding: 20px;
    border: solid rgb(234, 179, 179);
 }
 body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(238, 229, 229);
    line-height: 1.6;
    padding: 20px;
 }
  .destination{
  width: 60%;
  margin: 20px auto;
  font-family: Georgia, 'Times New Roman', Times, serif;
  border: solid rgb(106, 60, 60) 5px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  }
.button-container{
   display: flex;
   flex-direction: column;
   gap: 30px;
}